@import "tailwindcss";

@theme {
  --color-primary: #5c8607;
  --color-secondary: #70a309;
  --color-accent: #343f1e;
  --color-cream: #fdfaf1;
  --color-subtle: rgba(53, 64, 31, 0.24);

  --font-sans: var(--font-dm-sans);
  --font-serif: var(--font-marcellus);
}

:root {
  --background: #fdfaf1;
  --foreground: #343f1e;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
