@import "tailwindcss";

@theme {
  --color-primary: #00b855;
  --color-secondary: #47a8a8;
  --color-accent: #022639;
  --color-gray: #485a64;
  --color-cream: #f2fafc;

  --font-sans: var(--font-dm-sans);
  --font-serif: var(--font-raleway);
}

:root {
  --background: #ffffff;
  --foreground: #485a64;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
